/* some reset */
.ui-context-menu img {
    border: 0;
}
.ui-context-menu ul {
    list-style: none;
}
.ui-hidden {
    display: none;
}
.ui-context-menu {
    position: absolute;
}
.ui-context-menu .cm-btn-icon {
    margin-right: 5px;
    width: 1.23em;
    height: 1.23em;
    vertical-align: text-top;
    border: none;
}
.ui-context-menu .cm-btn-text {
    display: inline-block;
}
.ui-context-menu .menu {
    border: 1px solid #acacac;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #dcdcdc;
    background-color: #fff;
    padding: 0.1em 0 0;
}
.ui-context-menu .sep {
    height: 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #f1f1f1;
}
.ui-context-menu .cm-item {
    margin-bottom:3px;
}
.ui-context-menu .has-menu {
    position: relative;
}
.ui-context-menu .has-menu > .cm-btn-default {
    background: url('sub-normal.gif') no-repeat right center transparent;
}
.ui-context-menu .has-menu > .cm-btn-disabled {
    background: url('sub-disabled.gif') no-repeat right center transparent;
}
.ui-context-menu .has-menu .sub-menu {
    position: absolute;
    top: 0px;
    left: 93px;
}
.ui-context-menu .cm-btn {
    line-height: 1.5;
    text-decoration: none;
    color: #444;
    padding: 0.4em 2.3em 0.4em 1em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.1s ease-in;
}
.ui-context-menu .cm-btn-default:hover {
    background-color: #B3C9FF;
    text-shadow: 1px 1px 1px #fff;
}
.ui-context-menu .cm-btn-disabled {
    background: #f8f8f8;
    color: #999;
    cursor: default;
}
.ui-context-menu .cm-btn-active {
    background-color: #5E4BD8;
    color: #fff;
    box-shadow: 0 0 5px rgba(25, 7, 115, 0.7) inset;    
}
